body{
    background-color:rgb(240, 24, 96);
}
form{
   border: 1px solid white;
   color: white;
}
button{
    background-color: rgb(252, 116, 141);
    width: 80px;
    height: 30px;
    border: 1px solid white;
    color: white;
    font-weight: bolder;
}